
<script type="text/javascript" src="{{ "scripts/splines.js" | absolute_url }}">
</script>
<div>
    <style type="text/css">
        canvas { 
            /*border: 1px solid black; */
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
    <!-- TODO make canvas adjust in width? align centrally -->
    <canvas id="myCanvas" width="500" height="250"></canvas>
</div>
<script type="text/javascript">
  init();
</script>
